  header{ 
    text-align: center;
    font-size: 35px;
    color: rgb(40, 53, 71);
    background-image: url("HeaderImage.png");
    background-size: 110%;
    background-position: center -10px;
    width: 100%;
    padding-top: 0.6%;
    padding-bottom: 0.1%;
    border-bottom: 15px double #93adc7;
    border-width: 20px;
}

header h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 80px;
    font-weight: 40%;
    font-style: normal;
    margin-bottom: 5px;
    padding: 0;
    color: #2d4459;
}

header h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  margin-top: 25px;
  padding: 0;
  color: #314355;
  background-color: #6b89a8;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
}

body {
  height: 100%;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    background-image: url(background3.png);
    background-size: 100%;
    background-repeat: repeat;
    animation: diagonalscroll 90s linear infinite;
}

@keyframes diagonalscroll {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -100% -100%;
      }
    }

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
 .topnav { /* top navigation bar */
  background-color: #5e7a9a;
  overflow: hidden;
  position: relative;
  z-index: 1;
  
 }

 .topnav a {
  float: right;
  color: #f7f9ff;
  background-color: #485d75;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 }

 .topnav a:hover {
  background-color: #2c3f52;
  color: rgb(255, 255, 255);
 }

.topnav a.split {
  float: left;
  background-color: #485d75;
  color: white;
}

.topnav a.split:hover{
  background-color: #2c3f52;
  color: rgb(255, 255, 255);
}

.headertext{
  text-align: left;
  margin: 5px 5px 20px 25px;
  float:left;
  color: #2d4459;
  font-size: 15px;
}

.intro{
  width: 400px;
  border: 10px solid #6882a2;
  text-align: left;
  margin: 60px 40px 20px 20px;
  padding: 10px;
  background-color: #bbcde2;
  color:rgb(40, 53, 71)
}

.about{
  width: 400px;
  border: 10px solid #6882a2;
  text-align: left;
  margin: 20px 50px 50px 20px;
  padding: 10px;
  background-color: #dfebfa;
  gap: 20px;
  color:rgb(40, 53, 71)
}

.startheader{
  text-align: left;
  margin: -590px 275px 50px 10px;
  float:right;
  color: #2d4459;
  font-size: 15px;
}

.startparagraph{
  width: 400px;
  border: 10px solid #637d9d;
  text-align: left;
  margin: -535px 25px 50px 10px;
  padding: 10px;
  background-color: #dfebfa;
  float: right;
  color:rgb(40, 53, 71)
}

.footer {
  clear: both;
  left: 0;
  bottom: 0;
  background-color: #5e7a9a;
  color: #f2f2f2;
  text-align: center;
  width: 98%;
  border-top: 15px double #d7e9ff;
  border-width: 20px;
  padding: 14px 16px;

  
}

div.scroll-container { /* scrollable images container */
  width: 400px;
  height: 435px;
  border: 10px solid #516683;
  text-align: center;
  margin: -530px 50px 50px 490px;
  background-color: #eef5ff;
  padding: 15px;
  overflow: auto;
  white-space: nowrap;
}

div.scroll-container img {
  padding: 30px;
  width: 330px;
  height: 370px;
  border: 4px solid #6987ac;
  margin-right: 20px;
}

.button{ /* button for navigation */
  position:relative;
  border-radius: 4px;
  border: double 10px #d8e7f9;
  background-color: #57728d;
  color: #f2f2f2;
  text-align: center;
  font-size: 28px;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px 40px;
  width: 300px; 
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
}

.button-column{
display: flex;
flex-direction: column;
align-items: flex-end;
margin: -420px 25px 50px 10px;
padding: 20px;
gap: 30px;

}

.button-span{
  position: relative;
  display: inline-block;
  padding-right: 20px;
  transition: padding-right 0.5s, transform 0.5s;
}

.button span:after{
  content: '\00bb';
  position: absolute;
  transform: translateY(-50%);
  opacity: 0;
  top: 50%;
  right: 0px;
  transition: opacity 0.5s, right 0.5s;
}

.button:hover span{
  padding-right: 25px;
  transform: translateX(10px);
}
.button:hover span:after{
  opacity: 1;
  right: 50px;
}

.button a{
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 28px;
}

#letterTitle{
  width: 400px;
  height: 25px;
  border: 5px solid #7488a0;
  text-align: left;
  margin: 45px 100px 0px 70px;
  float: left;
  padding: 5px;
  background-color: #e8f1fb;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #465466;
  position:relative;
}

.backgroundbox{
  border: 10px solid #5d748f;
  background-color: #cbd8e7;
  margin-top: 60px;
  height: 880px;
  position: absolute; 
  left: 350px;      
  width: 720px;   
  top: 0;
  bottom: 0;  

}

#letterDate{
  width: 170px;
  height: 25px;
  border: 5px dotted #66788e;
  text-align: left;
  margin: -45px 400px 0px 390px;
  float: right;
  padding: 5px;
  background-color: #e8f1fb;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #465466;
  position: relative;
}

#letterContent{
  position: relative;
  width: 600px;
  height: 700px;
  border: 10px solid #7a8fa9;
  text-align: left;
  margin: 20px 400px 80px 10px;
  float: right;
  padding: 10px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  outline: none;
  color: #465466;
  line-height: 25px;
  background-image: repeating-linear-gradient(
    to bottom,
    #72839a 0px,
    #72839a 3px,
    #dfe9f6 2px,
    #dfe9f6 35px
  );
  line-height: 35px;
  background-attachment: local;
}

input:focus {
  outline: none;
}

input::placeholder{
  color:#677687;
}

textarea::placeholder{
  color: #677687;
}

.open-button {
  background-color: #4c5e72;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  font-family: "Josefin Sans", sans-serif; 
  font-size: 20px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 5px solid rgb(88, 117, 148);
  border-radius: 15px;
  z-index: 9;
  animation: slideUp 0.4s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.form-container {
  max-width: 300px;
  width: 270px;
  padding: 10px;
  background-color: #ccdaea;
  color: #4f6782;
  border-radius: 15px;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 85%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 3px solid #718eb0;
  background: #f1f1f1;
  font-family: "Josefin Sans", sans-serif; 
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #d3def1;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}

.form-container .btn {
  background-color: #62738a;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.form-container .cancel {
  background-color: rgb(51, 66, 82);
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.inspoBox{
  width: 280px;
  float: left;
  background-color:#98acc3;
  margin: 20px 0px 0px 20px;
  border: 7px solid #4d647e;
  padding: 5px;
  color: #242e3b;
}

.inspoList{
  width: 280px;
  float: left;
  background-color: #dfebfa;
  margin: 120px 0px 0px -305px;
  border: 7px solid #5e7a9a;
  padding: 5px;
  color: #242e3b;
  border-radius: 15px;
}

.ideas{
  list-style: none;
  padding-left: 0;
}

.ideas li {
  display: flex;
  align-items: center;
}

.ideas li::before {
  content: "\2605";
  margin-right: 8px;
  margin-bottom: 10px;
  color:rgb(76, 102, 130)
}

.finishParagraph{
  width: 280px;
  float: right;
  background-color:#98acc3;
  margin: 20px 20px 0px -500px;
  border: 7px solid #4d647e;
  padding: 5px;
  color: #242e3b;
}

.checkboxes{
  width: 270px;
  float: right;
  background-color:#ccdef2;
  margin: -670px 20px 0px 500px;
  border: 7px solid #657f9d;
  border-radius: 15px;
  padding: 10px;
  color: #242e3b;
}

.container{
  display: block;
  position: relative;
  padding-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: relative;
  margin-right: 20px;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 22px;
  height: 20px;
  width: 20px;
  background-color: #9eb9da;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #e3efff;
}

.container input:checked ~ .checkmark {
  background-color: #5a7791;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 6px;
  right: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #dde7f6;
}