
  
  header{
    text-align: center;
    font-size: 30px;
    color: rgb(47, 66, 96);
}

body {
    margin: 10px, 20px, 10px, 20px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #d3e4f2;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
 .topnav {
  background-color: #698bad;
  overflow: hidden;
 }

 .topnav a {
  float: right;
  color: #f2f2f2;
  background-color: #5b789b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 }

 .topnav a:hover {
  background-color: #3c4a77;
  color: rgb(205, 220, 246);
 }

.topnav a.split {
  float: left;
  background-color: #52749d;
  color: white;
}

.intro{
  width: 500px;
  border: 10px solid #6987ac;
  text-align: left;
  margin: 10px;
  padding: 10px;
}